#blog h2,h3, h4, p{
    text-align: center;
}



#blog .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


#blog article{
    justify-content: center;
    margin: 15px;

}


#blog img{
    margin-top: -15px;
    width: 100%;
    max-width: 280px;

}

@media (max-width:4164px){
    #blog img{
        max-width: 280px;
        max-height: 280px;
    }
   

    #blog .contenedor{
        margin-top: 60px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #blog h2 {
        padding-top: 70px;
        text-align: center;
        margin-right: 5px;
        margin-left: 20px;
        font-size: 22px;
    }

    #blog p {
        padding-top: 4px;
        text-align: center;
        font-style: normal;
        font-size: 16px;
       
    }
    #blog img{
        margin-top: 0px;
        width: 100%;
        max-width: 370px;
        

}}

@media (max-width:1924px){
 
   

    #blog .contenedor{
        margin-top: 120px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 250px;
    }

    #blog h2 {
        padding-top: 70px;
        text-align: center;
        margin-right: 5px;
        margin-left: 20px;
        font-size: 22px;
    }

    #blog p {
        padding-top: 4px;
        text-align: center;
        font-style: normal;
        font-size: 18px;
       
    }
    #blog img{
        margin-top: 0px;
        width: 100%;
        max-width: 470px;
        margin-bottom: -320px;
        

}
}
@media (max-width:1424px){
 
   

    #blog .contenedor{
        margin-top: 120px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: -100px;
    }

    #blog h2 {
        padding-top: 70px;
        text-align: center;
        margin-right: 5px;
        margin-left: 20px;
        font-size: 22px;
    }

    #blog p {
        padding-top: 4px;
        text-align: center;
        font-style: normal;
        font-size: 18px;
       
    }
    #blog img{
        margin-top: 0px;
        width: 100%;
        max-width: 470px;
        margin-bottom: -220px;
        

}
}

@media (max-width:1062px){
    #blog img{
        max-width: 280px;
        max-height: 280px;
    }
   

    #blog .contenedor{
        margin-top: 60px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #blog h2 {
        padding-top: 70px;
        text-align: center;
        margin-right: 5px;
        font-size: 18px;
    }

    #blog p {
        padding-top: 4px;
        text-align: center;
        font-style: normal;
        font-size: 12px;
        
    }
    #blog img{
        margin-top: 0px;
        width: 100%;
        max-width: 370px;

}
}




@media (max-width:900px){
    #blog img{
        max-width: 280px;
        max-height: 280px;
    }
   

    #blog .contenedor{
        margin-top: 60px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }

    #blog h2 {
        padding-top: 0px;
        text-align: center;

        font-size: 22px;
        margin-top: 250px;
    }

    #blog p {
        padding-top: 4px;
        text-align: center;
        font-style: normal;
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: -300px;
    }
    #blog img{
        margin-top: 0px;
        width: 100%;
        max-width: 370px;

}
}

@media (max-width:650px){
    #blog .contenedor{
        margin-top: -10px;
        margin-left: 10px;
        margin-bottom: -120px;
    }

    #blog h2 {
        padding-top: 5px;
        text-align: center;

        font-family: Helvetica;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 110%;
        /* or 20px */
        
        text-align: center;
        letter-spacing: -0.045em;
        
        /* Black */
        
        color: #23242A;
    }

    #blog p {
        padding-top: 5px;
        text-align: center;
        font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 120%;
/* or 17px */

text-align: center;
letter-spacing: -0.05em;

/* Black */

color: #23242A;
     
        
    }
    #blog img{
        margin-top: 0px;
        width: 100%;
        max-width: 330px;
    }}


@media (max-width:450px){

    #blog .contenedor{
        justify-content: center;
        align-items: center;
        width: 98%;
        margin-left: 15px;
        margin-bottom: -120px;
        
    }


    #blog h2 {
        padding-top: 5px;
        text-align: center;
        
        font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 110%;
/* or 20px */

text-align: center;
letter-spacing: -0.045em;

/* Black */

color: #23242A;
        
    }

    #blog p {
        padding-top: 5px;
        text-align: center;
        font-family: Helvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 120%;
        /* or 17px */
        
        text-align: center;
        letter-spacing: -0.05em;
        
        /* Black */
        
        color: #23242A;
      
    }
}


@media (max-width:380px){

    #blog .contenedor{
        justify-content: center;
        align-items: center;
        width: 98%;
        margin-left: 5px;
        
        
    }


    #blog h2 {
        padding-top: 5px;
        text-align: center;
        
        font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 110%;
/* or 20px */

text-align: center;
letter-spacing: -0.045em;

/* Black */

color: #23242A;
        
    }

    #blog p {
        padding-top: 5px;
        text-align: center;
        font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 120%;
/* or 17px */

text-align: center;
letter-spacing: -0.05em;

/* Black */

color: #23242A;
       
    }
}


@media (max-width:320px){

    #blog .contenedor{
        justify-content: center;
        align-items: center;
        width: 98%;
        margin-left: 5px;
        margin-bottom: -200px;
        
    }


    #blog h2 {
        padding-top: 5px;
        text-align: center;
        
        font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 110%;
/* or 20px */

text-align: center;
letter-spacing: -0.045em;

/* Black */

color: #23242A;
        
    }

    #blog p {
        padding-top: 5px;
        text-align: center;
        font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 8px;
line-height: 120%;
/* or 17px */

text-align: center;
letter-spacing: -0.05em;

/* Black */

color: #23242A;
       
    }
}