

#cta svg{
    
    display: block;
    margin: auto;
    position: relative;
   
}



#cta h3{
    margin-top: -100px;
    margin-bottom: 300px;
}

#cta .contenedor1{
    margin-top: 80px;
}

#cta .contenedor2{
    margin-top: -60px;
}


