






@media (max-width:1924px) {

    

#cta svg{
    
    display: block;
    margin: auto;
    position: relative;
   
}

#cta .contenedor1{
    position: relative;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}
#cta .contenedor2{
    margin-top: -100px;
}

#cta h3{
font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 110%;
/* or 13px */

text-align: center;
letter-spacing: -0.03em;

/* Black */

color: #23242A;
    margin-top: -68px;
    margin-bottom: 150px;
}
#cta p{
    
    margin-top: 10px;   
    margin-bottom: -100px;
    
    }


}

@media (max-width:924px) {

    

    #cta svg{
        
        display: block;
        margin: auto;
        position: relative;
       
    }
    
    #cta .contenedor1{
        position: relative;
        display: block;
        margin: auto;
        margin-bottom: 10px;
    }
    #cta .contenedor2{
        margin-top: -100px;
    }
    
    #cta h3{
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 110%;
    /* or 13px */
    
    text-align: center;
    letter-spacing: -0.03em;
    
    /* Black */
    
    color: #23242A;
        margin-bottom: 170px;
    }
    #cta p{
        
        margin-top: 15px;   
        margin-bottom: -100px;
        
        }
    
    
    }
