



#fotter svg{
    width: 100%;
    margin-top: -100px;
}


#fotter p{
    width: 100%;
    font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 8px;
line-height: 135%;
/* identical to box height, or 11px */

letter-spacing: -0.01em;

/* White */

color: #000000;
margin-top: -85px;
opacity: 0.9;

}

#fotter h5{
    display:block;
    width: 100%;
    font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 8px;
line-height: 135%;
/* identical to box height, or 11px */

letter-spacing: -0.01em;

/* White */

color: #FFF;
margin-left: 10px;
opacity: 0.9;
margin-top: 30px;

}

#fotter h4{
    width: 100%;
    
    margin-top: 130px;
text-align: center;


}


