



#fotter svg{
    width: 100%;
    margin-top: 0px;
}


#fotter p{
    width: 100%;
    font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 8px;
line-height: 135%;
/* identical to box height, or 11px */

letter-spacing: -0.01em;

/* White */

color: #FFFFFF;

opacity: 0.9;
margin-top: -130px;

}

#fotter h5{
    width: 100%;
    font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 8px;
line-height: 135%;
/* identical to box height, or 11px */

letter-spacing: -0.01em;

/* White */

color: #FFFFFF;

opacity: 0.9;
margin-top: 50px;

}


