

footer{
 
   
}


#fotter svg{
    width: 100%;
}


#fotter p{
    width: 100%;
    font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 8px;
line-height: 135%;
/* identical to box height, or 11px */

letter-spacing: -0.01em;

/* White */

color: #FFFFFF;

opacity: 0.5;
margin-top: -100px;

}