
#matterport .contenedor{
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#matterport article{
    margin-left: 0;
    align-items: center;
    }


    #matterport img{
        align-items: center;
        width: 100%;
        
    }