
#matterport .contenedor{
    margin-left: 0;
    margin-right: 0;
   margin-top: -30px;  align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#matterport article{
    width: 100%;
    
    align-items: center;
    }





#matterport video{
    width: 100%;
    display: block;
    justify-content: center;
    


}


@media (max-width:1924px){
    #matterport article{
        width: 80%;
        
        align-items: center;
        }
    
   
        #matterport video{
            width: 100%;
            display: block;
            justify-content: center;
            height: 700px;
            margin-bottom: 200px;
            margin-top: -970px;
        
        
        }

    
#matterport .contenedor2{
    margin: auto;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    }

   
   

}  



@media (max-width:1624px){
    #matterport article{
        width: 80%;
        
        align-items: center;
        }
    
   
        #matterport video{
            width: 100%;
            display: block;
            justify-content: center;
            height: 600px;
            margin-bottom: 200px;
            margin-top: -950px;
        
        
        }

    
#matterport .contenedor2{
    margin: auto;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    }

   
   

}    


@media (max-width:1424px){
    #matterport article{
        width: 80%;
        
        align-items: center;
        }
    
   
        #matterport video{
            width: 100%;
            display: block;
            justify-content: center;
            height: 550px;
            margin-bottom: 200px;
            margin-top: -900px;
        
        
        }

    
#matterport .contenedor2{
    margin: auto;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    


}
}    


@media (max-width:1024px){
    #matterport article{
        width: 100%;
        
        align-items: center;
        }
    
   
    

    
#matterport .contenedor2{
    margin: auto;
    width: 100%;
    height: auto;
    
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: -80px;


}
}    



@media (max-width:850px){
    #matterport article{
        width: 100%;
        
        align-items: center;
        }
    
    
    
    
    
   

    
#matterport .contenedor2{
    margin-left: 0;
    margin-right: 0;
    margin-top: -20px;
    
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: -170px;
    } }

    @media (max-width:650px){
        #matterport article{
            width: 100%;
            
            align-items: center;
            }
        
        
        
        
        
       
    
        
    #matterport .contenedor2{
        margin-left: 0;
        margin-right: 0;
        margin-top: -20px;
        
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: -220px;
        } }
    
  @media (max-width:550px){
    #matterport article{
        width: 100%;
        align-items: center;
      
    }

    #matterport svg{
        width: 0%;
        margin-top: -50px;
    }


     #matterport .contenedor2{
        margin-left: 0;
        margin-right: 0;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: -250px;
        }
}    








@media (max-width:550px){
    #matterport article{
        width: 100%;
        align-items: center;
      
    }

    #matterport svg{
        width: 0%;
        margin-top: -50px;
    }


     #matterport .contenedor2{
        margin-left: 0;
        margin-right: 0;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: -250px;
        }
}    


@media (max-width:450px){
    #matterport article{
        width: 100%;
        align-items: center;
      
    }

    #matterport svg{
        width: 0%;
        margin-top: -50px;
    }


     #matterport .contenedor2{
        margin-left: 0;
        margin-right: 0;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: -318px;
        }
} 

@media (max-width:350px){
    #matterport article{
        width: 100%;
        align-items: center;
      
    }

    #matterport svg{
        width: 0%;
        margin-top: -50px;
    }


     #matterport .contenedor2{
        margin-left: 0;
        margin-right: 0;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: -340px;
        }
}    