

   
    
 @media (max-width:4024px) {

    
    
    

#stats  .contenedor{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
    
    
}

#stats img{
    margin-top: -3px;
    justify-content: center;
    align-items: center;
    
    width: 85%;
    height: 100%;
}
#stats article{

    margin: 0px;
    align-items: center;
    }
    
   

}

    
@media (max-width:900px) {

    
    
    

    #stats  .contenedor{
        
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        
        
        
    }

    #stats img{
        margin-top: -30px;
        justify-content: center;
        align-items: center;
        
        width: 100%;
        height: 100%;
    }
    #stats article{
    
        margin: 0px;
        align-items: center;
        }
        
       
    
    }





