#stats h3, h4, p{
    text-align: center;
}



#stats .contenedor{
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


#stats article{
    
margin: 15px;
align-items: center;
}


#stats img{
    align-items: center;
    width: 100%;
    max-width: 280px;
}

