#stats h3, h4 {
    text-align: center;
    width: 250px;
    max-height: 150px;
    margin-bottom: 10px;
    font-size: 18px;
}

#stats p{
    margin-bottom: 30px;
    text-align: center;
    width: 250px;
    max-height: 250px;
    font-size: 14px;
}


#stats .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


#stats article{

margin: 20px;
align-items: center;
}


#stats img{
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 250px;
    height: 250px;

   
}



@media (max-width: 700px){

   
    
    }

@media (max-width: 630px){

 
    
    #stats  .contenedor{
        margin-top: -26px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
        
    }
    
    #stats img{
        margin-top: -3px;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 320px;
        height: 320px;
    }
    #stats article{
    
        margin: 0px;
        align-items: center;
        
    
    }
    #stats h3, h4 {
        text-align: center;
        width: 320px;
        
        max-height: 320px;
        margin-top:  50px;
        font-size: 16px;
    }
    
    #stats p{
        margin-bottom: 20px;
        text-align: center;
        width: 320px;
        max-height: 320px;
        font-size: 14px;
        font-weight: lighter;
    }
    #stats .tusinmuebles{
        display: none;
    }
    }





@media (max-width:419px){

    #stats h3, h4 {
        text-align: center;
        width: 200px;
        max-height: 200px;
        margin-top: 30px;
        margin-bottom: 4px;
        font-size: 14px;
    }
    
    #stats p{
        margin-bottom: 30px;
        text-align: center;
        width: 200px;
        max-height: 200px;
        font-size: 10px;
    }

#stats  .contenedor{
    margin-top: -26px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    
}

#stats img{
    margin-top: -3px;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 220px;
    height: 220px;
}
#stats article{

    margin: 0px;
    align-items: center;
    }
    
#stats .tusinmuebles{
    display: none;
}
}


