#trabajos-realizados h3{
text-align: center;

margin-bottom: 20px;
}

#trabajos-realizados .cards{


width: 100%;
display: flex;
justify-content: center;
flex-wrap: wrap;


}

#trabajos-realizados img{
       
    width: 95%;
    
}


#trabajos-realizados p{
    text-align: center;
}